name: CI-CD

on:
  push:
    tags:
      - "v*.*.*"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CI: true
      UseStubs: true

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore

      - name: Compile against stubs
        run: dotnet build ICSModMenu.csproj -c Debug -o build/debug
